.root {
	-fx-background-color: white;
}

.label:disabled, .label:disabled > * {
    -fx-opacity: 1.0;
}

.text {
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 20.0px;*/
	-fx-text-fill: Black;
}

.table-view {
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 50.0px;*/
}

.jfx-text-field	{
	-jfx-label-float : true;
	-jfx-focus-color: Blue;
	/*-fx-border-width: 10.0px;*/
	-jfx-unfocus-color: Black;
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 18.0px;*/
}

.button {
	-fx-border-color : #4285F4;
	-fx-background-color: white;
	-fx-border-radius : 20.0;
	-fx-border-width : 3.0;
	-fx-background-radius : 20.0;
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 20.0px;*/
	-fx-text-fill: Black;
}

.button .jfx-rippler	{
	-jfx-rippler-radius : 100.0;
    -jfx-rippler-fill : White;
}

.button:hover {
	-fx-border-color : white;
	-fx-background-color: #4285F4;
	-fx-text-fill: white;
}


.public {
	-fx-border-color : #0F9D58;
	-fx-background-color: white;
	-fx-text-fill: #0F9D58;
	-fx-border-radius : 20.0;
	-fx-border-width : 3.0;
	-fx-background-radius : 20.0;
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 20.0px;*/
}

.public:focused {
	-fx-border-color : #0F9D58;
	-fx-background-color: white;
	-fx-text-fill: #0F9D58;
}

.public .jfx-rippler	{
	-jfx-rippler-radius : 50.0;
    -jfx-rippler-fill : #F4B400;
}

.public:hover {
	-fx-border-color : #0F9D58;
	-fx-background-color: white;
	-fx-text-fill: #0F9D58;
}

.public:disabled, .public:disabled > * {
    -fx-opacity: 1.0;
}

.private {
	-fx-border-color : #F4B400;
	-fx-text-fill: #F4B400;
	-fx-border-radius : 20.0;
	-fx-border-width : 3.0;
	-fx-background-radius : 20.0;
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 20.0px;*/
}

.private:hover {
	-fx-border-color : #F4B400;
	-fx-background-color: white;
	-fx-text-fill: #F4B400;
}

.private:focused {
	-fx-border-color : #F4B400;
	-fx-background-color: white;
	-fx-text-fill: #F4B400;
}

.private .jfx-rippler	{
	-jfx-rippler-radius : 50.0;
    -jfx-rippler-fill : #0F9D58;
}

.private:disabled, .private:disabled > * {
    -fx-opacity: 1.0;
}

.kick {
	-fx-font-family: "Century Gothic";
 	/*-fx-font-size: 20.0px;*/
	-fx-border-color : #DB4437;
    -fx-text-fill: #DB4437;
    -fx-background-color: white;
	-fx-border-radius : 20.0;
	-fx-border-width : 3.0;
	-fx-background-radius : 20.0;
}

.kick:hover {
	-fx-border-color : #DB4437;
    -fx-text-fill: #DB4437;
    -fx-background-color: white;
}

.kick:focused {
	-fx-border-color : #DB4437;
    -fx-text-fill: #DB4437;
    -fx-background-color: white;
}

.kick .jfx-rippler	{
	-jfx-rippler-radius : 50.0;
	-jfx-rippler-fill : #DB4437;
}

.jfx-check-box {
	-fx-text-fill: black;
	-fx-font-family: "Century Gothic";
	/*-fx-font-size: 18.0px;*/
}

.check-box:disabled, .check-box:disabled > * {
    -fx-opacity: 1.0;
}
