.root{
	-fx-font-size: 18.0pt;
}
.jfx-text-field	{
	-jfx-label-float : true;
	-jfx-focus-color: Blue;
	-fx-border-width: 10.0pt;
	-jfx-unfocus-color: Black;
	-fx-font-family: "Century Gothic";
}
.button {
	-fx-border-color : #4285F4;
	-fx-background-color: white;
	-fx-border-radius : 20.0;
	-fx-border-width : 3.0;
	-fx-background-radius : 20.0;
	-fx-font-family: "Century Gothic";
	-fx-text-fill: Black;
}

.button .jfx-rippler	{
	-jfx-rippler-radius : 100.0;
    -jfx-rippler-fill : White;
}

.button:hover {
	-fx-border-color : white;
	-fx-background-color: #4285F4;
	-fx-text-fill: white;
}
.name {
	-fx-font-family: "Century Gothic";
	-fx-text-fill: #4285F4;
}
.content {
	-fx-font-family: "Century Gothic";
	-fx-text-fill: Black;
}